body {

    overflow: hidden;
    /*background-color: black;*/

}
.selected {
    color: green !important;
    visiblity: visible;
}
.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: 4s;
}
.rocket {
    position: absolute;
    /*border: solid 2px black;*/
    height: 0%;
    width: 20%;
    transform: rotateZ(-90deg) translate(70%,-85%);
    z-index: 10;
}
.rocket img {
    width: 60%;
    height: auto;
    transform: translate(-40%, -150%);
    z-index: 10;
    visibility: hidden;
}
.contentWrapper {
    width: 100%;
    height: 100vh;
    position: absolute;

}
.navbar.particle {
    z-index: 20;
    width: 100%;
    color: white;
}
input {
    color: black;
}
#ballSizePx {
    display: inline-block;
    width: 28%;
    position: relative;
    left: 5%;
}
#transitionTime {
    display: inline-block;
    width: 25%;
    position: relative;
    left: 5%;
}
#randomSizeCheckbox {
    position: relative;
    left: 10%;
    margin: 0;
    top: 50%;
}
#transitionDelayInput, #randomTransitionTime, #linearTransitionCheckbox{
    display: inline-block;
    position: relative;
    width: 25%;
    left: 5%;
}
#randomTransitionTime {
    left: 2%;
}
#randomResizeCheckbox {
    margin-left: 8%;
}
#randomResizeInput {
    width: 25%;
    margin-left: 10%;
}

/**********************************************************/
/**/
.navbar-header.particle {
    float: none;
}
.navbar-toggle.particle {
    display: block;
}
.navbar-collapse.collapse.particle {
    display: none!important;
}
.navbar-collapse.collapse.particle.in {
    display: block!important;
}
.navbar-nav.particle {
    float: none!important;
}
.navbar-nav.particle>li {
    float: none;
    position: relative;
    display: block;
    padding: 10px;
    background-color: rgba(0,0,0, .9);
}
.navbar-inverse.particle {
    width: 20%;
    float: right;
    background-color: transparent;
    border: none;
}
/*///////////////////////////////////*/
#heart {

}

#heart:before,
#heart:after {
    position: absolute;

    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin :100% 100%;
}